<!DOCTYPE html>

<html lang="en">

  <head>
    <title>Denis' Handyman Services</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../static/styles.css" rel="stylesheet">
    <script src="../js/menu.js"></script>
  </head>

  <body style="background-image: url('../pictures/about/background_image.png');">
    <div id="main_page">
        <img id="top_logo" src="../pictures/home/cleaned_logo.png" alt="DHMS_logo">
        <button type="button" class="menu_button" onclick="menu()">
            <img src="../pictures/home/menu.png" alt="menu" class="menu_button">
        </button>
        <img id=about_firstline src="../pictures/about/line.png" alt="line">
        <h1 id="about_h1">Services</h1>
        <img id=about_secondline src="../pictures/about/line.png" alt="line">    

    </div>

    <div id="menu_div">
        <img id="menu_pic" src="../pictures/home/cleaned_logo.png" alt="logo">
        <a href="../index.html" class="menu_options">HOME</a><br>
        <a href="about.html" class="menu_options">ABOUT</a><br>
        <a href="services.html" class="menu_options">SERVICES</a><br>
        <a href="gallery.html" class="menu_options">GALLERY</a><br>
        <a href="contact.html" class="menu_options">CONTACT</a>
        
    </div>
    
  </body>

</html>
